/* screen - weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 */

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 2700px;
  width: 1920px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divname {
  background-color: #782f40;
  height: 188px;
  min-width: 1920px;
  position: relative;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .flex-row {
  align-items: center;
  display: flex;
  height: 30px;
  left: 530px;
  min-width: 860px;
  position: absolute;
  top: 117px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .about {
  align-self: flex-start;
  height: 29px;
  letter-spacing: 0;
  line-height: 28.6px;
  min-width: 54px;
  text-align: center;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .research-team {
  align-self: flex-start;
  height: 29px;
  line-height: 28.6px;
  margin-left: 42px;
  min-width: 134px;
  text-align: center;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .publications {
  height: 22px;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-bottom: 2.0px;
  margin-left: 44px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 108px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .teaching {
  height: 22px;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-bottom: 2.0px;
  margin-left: 45px;
  text-align: center;
  white-space: nowrap;
  width: 80px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .service {
  height: 22px;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-left: 45px;
  text-align: center;
  white-space: nowrap;
  width: 67px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .lab-wiki-fsu-internal {
  align-self: flex-end;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-left: 41px;
  min-width: 200px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .title {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 75px;
  left: 806px;
  letter-spacing: 0;
  line-height: 75px;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divrow {
  align-items: flex-start;
  display: flex;
  gap: 82px;
  height: 2447px;
  margin-left: 148.0px;
  margin-top: 15px;
  min-width: 1170px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm-4 {
  margin-top: 55px;
  min-height: 350px;
  width: 300px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .rectangle {
  height: 1px;
  margin-left: -37px;
  margin-top: -207px;
  width: 88px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .x441684624749_-1 {
  align-self: center;
  height: 303px;
  margin-right: 10.0px;
  margin-top: 231px;
  object-fit: cover;
  width: 260px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .contact-me {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  line-height: 19.8px;
  margin-left: 15px;
  margin-top: 15px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .address {
  align-self: center;
  height: 141px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 7.0px;
  margin-top: 9px;
  width: 263px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span-1 {
  text-decoration: underline;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hr {
  border-color: #eeeeee;
  border-top-style: solid;
  border-top-width: 1px;
  height: 2px;
  margin-left: -30px;
  margin-top: 10px;
  width: 360px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hiring {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  line-height: 19.8px;
  margin-left: 15px;
  margin-top: 8px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .text {
  align-self: flex-end;
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  height: 136px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: -48px;
  margin-top: 7px;
  width: 340px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hr-1 {
  border-color: #eeeeee;
  margin-left: -30px;
  margin-top: 13px;
  width: 360px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm-8 {
  min-height: 2447px;
  padding: 74px 0;
  width: 780px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .about-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 26.4px;
  margin-left: 7px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .weikuan-will-yu-is {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 257px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 7px;
  margin-top: 14px;
  width: 744px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span-2 {
  color: var(--mine-shaft);
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span-3 {
  color: #0000ee;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span2 {
  color: var(--cobalt);
  text-decoration: underline;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .research-interests {
  height: 27px;
  line-height: 26.4px;
  margin-left: 5px;
  margin-top: 16px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 32px;
  min-height: 140px;
  padding: 0 37.0px;
  width: 750px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .database-systems-bi {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 2.95px;
  margin-top: -1px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .ul-item {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 2.95px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .parallel-io-file-and-storage-systems {
  align-self: flex-end;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 673px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .news {
  height: 27px;
  letter-spacing: 0;
  line-height: 26.4px;
  margin-left: 7px;
  margin-top: 22px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hr-2 {
  align-self: center;
  border-color: #9f9999;
  margin-right: 9.0px;
  margin-top: 522px;
  width: 759px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .university-services {
  height: 27px;
  letter-spacing: 0;
  line-height: 26.4px;
  margin-left: 15px;
  margin-top: 62px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm-8-item {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 55px;
  margin-top: 34px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .member-fsu {
  align-self: flex-end;
  height: 40px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: -49px;
  margin-top: 3px;
  width: 774px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .member-fsu-researc {
  align-self: center;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 55.0px;
  margin-top: 3px;
  min-width: 615px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .associate-chair-for {
  align-self: center;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 34.0px;
  margin-top: 3px;
  min-width: 636px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm-8-item-1 {
  height: 20px;
  margin-left: 55px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .external-services {
  height: 27px;
  letter-spacing: 0;
  line-height: 26.4px;
  margin-left: 15px;
  margin-top: 34px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .cluster-2012-2015 {
  align-self: center;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 85.0px;
  margin-top: 2px;
  min-width: 585px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .cc-grid-2013-2016 {
  align-self: center;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 95.0px;
  margin-top: 4px;
  min-width: 575px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm-8-item-2 {
  align-self: flex-end;
  height: 40px;
  margin-right: -19px;
  width: 744px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .external-proposal-re {
  align-self: center;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 3.0px;
  margin-top: 3px;
  min-width: 667px;
  white-space: nowrap;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .footerfooter {
  align-items: flex-start;
  background-color: #782f40;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 16.3px 769.0px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .copyright-2023-wei {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 381px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm-8-item-3 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 3px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hr-3 {
  border-top-style: solid;
  border-top-width: 1px;
  height: 1px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .research {
  letter-spacing: 0;
  white-space: nowrap;
}
