@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,700,600,400");

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:500,700,600,400");

.divname-90Up1n {
  background-color: var(--solid-pink);
  height: 188px;
  min-width: 1920px;
  mix-blend-mode: normal;
  position: relative;
}

* {
  box-sizing: border-box;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.publications-3RT0vD {
  background-color: transparent;
  height: 22px;
  left: 804px;
  letter-spacing: 0px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 120px;
  white-space: nowrap;
  width: 108px;
}

.title-3RT0vD {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: 75px;
  left: 806px;
  letter-spacing: 0px;
  line-height: 75px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
  width: auto;
}

.research-team-3RT0vD {
  background-color: transparent;
  height: 29px;
  left: 626px;
  letter-spacing: 0px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  white-space: nowrap;
  width: auto;
}

.about-3RT0vD {
  height: 29px;
  left: 530px;
  line-height: 28.6px;
  text-align: center;
  top: 117px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4
  .about {
  background-color: transparent;
  letter-spacing: 0px;
  mix-blend-mode: normal;
  position: absolute;
  white-space: nowrap;
  width: auto;
}

.lab-wiki-fsu-internal-3RT0vD {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  left: 1190px;
  letter-spacing: 0px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 118px;
  white-space: nowrap;
  width: auto;
}

.service-3RT0vD {
  background-color: transparent;
  height: 22px;
  left: 1082px;
  letter-spacing: 0px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 121px;
  white-space: nowrap;
  width: 67px;
}

.teaching-3RT0vD {
  background-color: transparent;
  height: 22px;
  left: 957px;
  letter-spacing: 0px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
  width: 80px;
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
