@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,700,600,400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --cobalt: #0645ad;
  --gallery: #eeeeee;
  --mine-shaft: #333333;
  --solid-pink: #782f40;
  --star-dust: #9f9999;
  --white: #ffffff;

  --font-size-l2: 30px;
  --font-size-m2: 18px;
  --font-size-s2: 17px;
  --font-size-xl2: 55px;
  --font-size-xs2: 16px;
  --font-size-xxs2: 15px;
  --font-size-xxxs: 13px;

  --font-family-inter: "Inter", Helvetica;
}
.inter-normal-cobalt-17px {
  color: var(--cobalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-mine-shaft-13px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-17px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-mine-shaft-13px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-mine-shaft-30px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-mine-shaft-17px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-55px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs2);
  font-style: normal;
  font-weight: 400;
}

/* screen - index */

.index {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2700px;
  overflow: hidden;
  width: 1920px;
}

.index .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.index .menu {
  background-color: var(--solid-pink);
  height: 188px;
  min-width: 1920px;
  position: relative;
}

.index .flex-row {
  align-items: center;
  display: flex;
  height: 30px;
  left: 530px;
  min-width: 860px;
  position: absolute;
  top: 117px;
}

.index .about {
  align-self: flex-start;
  cursor: pointer;
  height: 29px;
  line-height: 28.6px;
  min-width: 54px;
  text-align: center;
}

.index .research-team {
  align-self: flex-start;
  cursor: pointer;
  height: 29px;
  line-height: 28.6px;
  margin-left: 42px;
  min-width: 134px;
  text-align: center;
}

.index .publications {
  cursor: pointer;
  height: 22px;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-bottom: 2px;
  margin-left: 44px;
  text-align: center;
  white-space: nowrap;
  width: 108px;
}

.index .teaching {
  cursor: pointer;
  height: 22px;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-bottom: 2px;
  margin-left: 45px;
  text-align: center;
  white-space: nowrap;
  width: 80px;
}

.index .service {
  cursor: pointer;
  height: 22px;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-left: 45px;
  text-align: center;
  white-space: nowrap;
  width: 67px;
}

.index .lab-wiki-fsu-internal {
  align-self: flex-end;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-left: 41px;
  min-width: 200px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}

.index .title {
  height: 75px;
  left: 806px;
  letter-spacing: 0;
  line-height: 75px;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
}

.index .divrow {
  align-items: flex-start;
  display: flex;
  gap: 82px;
  height: 2447px;
  margin-left: 148px;
  margin-top: 15px;
  min-width: 1170px;
}

.index .picandcontact {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 54.5px;
  min-height: 710px;
  width: 300px;
}

.index .rectangle {
  height: 1px;
  margin-left: -37px;
  margin-top: -27px;
  width: 88px;
}

.index .portrait {
  align-self: center;
  height: 303px;
  margin-right: 10px;
  margin-top: 51px;
  object-fit: cover;
  width: 260px;
}

.index .contact-me {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.8px;
  margin-left: 15px;
  margin-top: 15px;
  white-space: nowrap;
}

.index .address {
  align-self: center;
  height: 141px;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 7px;
  margin-top: 9px;
  width: 263px;
}

.index .span-1 {
  text-decoration: underline;
}

.index .hr {
  border-color: var(--gallery);
  height: 2px;
  margin-left: -30px;
  margin-top: 10px;
  width: 360px;
}

.index .hiring {
  height: 20px;
  letter-spacing: 0;
  line-height: 19.8px;
  margin-left: 15px;
  margin-top: 8px;
  white-space: nowrap;
}

.index .hr-1 {
  border-color: var(--gallery);
  height: 1px;
  margin-left: -30px;
  margin-top: 156px;
  width: 360px;
}

.index .home-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 2447px;
  padding: 74px 0;
  width: 780px;
}

.index .about-1 {
  height: 27px;
  line-height: 26.4px;
  margin-left: 7px;
}

.index .weikuan-will-yu-is {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-weight: 400;
  height: 257px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 7px;
  margin-top: 14px;
  width: 744px;
}

.index .research-interests {
  height: 27px;
  line-height: 26.4px;
  margin-top: 10px;
}

.index .database-systems-bi {
  height: 150px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 5px;
  margin-top: 18px;
  width: 740px;
}

.index .news {
  height: 27px;
  letter-spacing: 0;
  line-height: 26.4px;
  margin-left: 7px;
  margin-top: 32px;
  white-space: nowrap;
}

.index .hr-2 {
  align-self: center;
  border-color: var(--star-dust);
  height: 1px;
  margin-right: 9px;
  margin-top: 522px;
  width: 759px;
}

.index .university-services {
  height: 27px;
  letter-spacing: 0;
  line-height: 26.4px;
  margin-left: 5px;
  margin-top: 62px;
  white-space: nowrap;
}

.index .trainee-fsu-emergi {
  align-self: flex-end;
  height: 270px;
  letter-spacing: 0;
  line-height: 30px;
  margin-right: 5px;
  margin-top: 16px;
  width: 760px;
}

.index .external-services {
  height: 27px;
  letter-spacing: 0;
  line-height: 26.4px;
  margin-left: 5px;
  margin-top: 15px;
  white-space: nowrap;
}

.index .editorial-excellence {
  align-self: center;
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-weight: 400;
  height: 660px;
  letter-spacing: 0;
  line-height: 30px;
  margin-right: 8px;
  margin-top: 15px;
  width: 742px;
}

.index .footerfooter {
  align-items: flex-start;
  background-color: var(--solid-pink);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 16.3px 769px;
}

.index .copyright-2023-wei {
  height: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 381px;
}

.index .about-2 {
  letter-spacing: 0;
  white-space: nowrap;
}

.index .hr-3 {
  border-top-style: solid;
  border-top-width: 1px;
}

.index .research {
  letter-spacing: 0;
  white-space: nowrap;
}
