@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,800,600");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

:root { 
  --black: #000000;
  --cobalt: #0645ad;
  --mine-shaft: #333333;
  --quill-gray: #d2d2d2cc;
  --roman: #d65f5f;
  --solid-pink: #782f40;
  --white: #ffffff;
 
  --font-size-l: 25px;
  --font-size-m: 23px;
  --font-size-m2: 18px;
  --font-size-xl: 55px;
  --font-size-xxs: 15px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-normal-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-roman-23px {
  color: var(--roman);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-cobalt-23px {
  color: var(--cobalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-23px-22 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-extra-bold-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 800;
}

.inter-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-white-23px-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-55px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

/* screen - index */

.index {
  background-color: var(--white);
  border: 1px none;
  height: 7500px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.index .cluster22-ismail {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 380px;
  width: 1530px;
}

.index .span1 {
  color: #d55f5f;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.index .cluster21-s-bhatt {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 724px;
  width: 1530px;
}

.index .ar-xiv20-subhadeep {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 978px;
  width: 1530px;
}

.index .cluster19-z-yue {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1262px;
  width: 1530px;
}

.index .open-shmem18-subha {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1566px;
  width: 1530px;
}

.index .ross18-z-yue-t {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1652px;
  width: 1530px;
}

.index .mascots18-z-yue {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1738px;
  width: 1530px;
}

.index .cc-grid18-h-fu {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1824px;
  width: 1530px;
}

.index .ismm19-m-khan {
  height: 53px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1386px;
  width: 1530px;
}

.index .par-co19-z-liu {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1442px;
  width: 1530px;
}

.index .icpp19-f-chowdhu {
  height: 53px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1326px;
  width: 1530px;
}

.index .jcst20-andre-brin {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1136px;
  width: 1530px;
}

.index .hps20-t-dey-k {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1050px;
  width: 1530px;
}

.index .cc-grid21-rupak-ro {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 796px;
  width: 1530px;
}

.index .icpp21-md-muhib-k {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 868px;
  width: 1530px;
}

.index .bspc22-xingang-fa {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 596px;
  width: 1530px;
}

.index .tpds22-z-li-b-j {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 524px;
  width: 1530px;
}

.index .ipdps22-fahim-tah {
  height: 60px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 452px;
  width: 1530px;
}

.index .publications-by-year {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 800;
  height: 27px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 288px;
  white-space: nowrap;
}

.index .overlap-group14 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 342px;
}

.index .number {
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 66px;
}

.index .overlap-group10 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 686px;
}

.index .overlap-group11 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 940px;
}

.index .overlap-group3 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 1224px;
}

.index .overlap-group5 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 1514px;
}

.index .overlap-group8 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 187px;
  top: 1912px;
}

.index .overlap-group6 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 2348px;
}

.index .overlap-group12 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 2660px;
}

.index .overlap-group1 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 3232px;
}

.index .overlap-group16 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 3650px;
}

.index .overlap-group15 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 4491px;
}

.index .overlap-group4 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 5058px;
}

.index .overlap-group9 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 5465px;
}

.index .overlap-group {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 5645px;
}

.index .overlap-group7 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 5775px;
}

.index .overlap-group13 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 192px;
  top: 6195px;
}

.index .overlap-group2 {
  height: 28px;
  left: 192px;
  top: 6380px;
}

.index .x2023 {
  background-color: var(--quill-gray);
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1536px;
}

.index .x2024 {
  height: 27px;
  left: 0;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.index .jcc17-zhuo-liu {
  height: 364px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1962px;
  width: 1530px;
}

.index .span5 {
  color: #3366cc;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.index .span-1 {
  text-decoration: underline;
}

.index .nas15-fang-zhou {
  height: 506px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 2706px;
  width: 1530px;
}

.index .big-data14-t-wan {
  height: 356px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 3278px;
  width: 1530px;
}

.index .sc16-t-wang-k {
  height: 248px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 2392px;
  width: 1530px;
}

.index .sc13-x-li-y-w {
  height: 760px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 3708px;
  width: 1530px;
}

.index .first-place-2012-a {
  height: 565px;
  left: 192px;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 4507px;
  width: 1530px;
}

.index .sc11-y-wang-x {
  height: 333px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 5108px;
  width: 1530px;
}

.index .sc08-nsv-rao {
  height: 353px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 5820px;
  width: 1530px;
}

.index .icpp06-shuang-li {
  height: 710px;
  left: 192px;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 6390px;
  width: 1530px;
}

.index .cf10-v-tipparaj {
  height: 124px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 5505px;
  width: 1530px;
}

.index .cc-grid07-weikuan {
  height: 124px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 6240px;
  width: 1530px;
}

.index .ipdps09-w-yu-o {
  height: 67px;
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 5690px;
  width: 1530px;
}

.index .footerfooter {
  background-color: var(--solid-pink);
  height: 50px;
  left: 0;
  position: absolute;
  top: 7450px;
  width: 1920px;
}

.index .copyright-2023-wei {
  height: 16px;
  left: 770px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 381px;
}

.index .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: fit-content;
}

.index .divname {
  background-color: var(--solid-pink);
  height: 188px;
  min-width: 1920px;
  position: relative;
}

.index .about {
  height: 29px;
  left: 530px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 117px;
  white-space: nowrap;
}

.index .publications {
  height: 22px;
  left: 804px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
  width: 108px;
}

.index .teaching {
  height: 22px;
  left: 957px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
  width: 80px;
}

.index .service {
  height: 22px;
  left: 1082px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 121px;
  white-space: nowrap;
  width: 67px;
}

.index .lab-wiki-fsu-internal {
  cursor: pointer;
  height: 29px;
  left: 1190px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 118px;
  white-space: nowrap;
}

.index .research-team {
  height: 29px;
  left: 626px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 117px;
  white-space: nowrap;
}

.index .title {
  height: 75px;
  left: 806px;
  letter-spacing: 0;
  line-height: 75px;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
}

.index .overlap {
  position: absolute;
  width: 1536px;
}
