/* screen - weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 */

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 {
  background-color: var(--white);
  border: 1px none;
  height: 2700px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divrow-CHlaSm {
  background-color: transparent;
  height: 2447px;
  left: 449px;
  position: absolute;
  top: 204px;
  width: 1170px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm-4-uPqObg {
  background-color: transparent;
  height: 350px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 300px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .rectangle-Zc1nIZ {
  background-color: transparent;
  height: 1px;
  left: -37px;
  mix-blend-mode: normal;
  position: absolute;
  top: -207px;
  width: 88px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .contact-me-Zc1nIZ {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: 20px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 19.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 343px;
  white-space: nowrap;
  width: 97px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hr-Zc1nIZ {
  border-color: #eeeeee;
  height: 2px;
  left: -30px;
  position: absolute;
  top: 523px;
  width: 360px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hiring-Zc1nIZ {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: 20px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 19.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 533px;
  white-space: nowrap;
  width: 156px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .p-Zc1nIZ {
  height: 100px;
  left: 202px;
  top: 544px;
  width: 360px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .text-9xkCRR {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 136px;
  left: -194px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 340px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hr-EU02Wd {
  border-color: #eeeeee;
  height: 1px;
  left: -30px;
  position: absolute;
  top: 709px;
  width: 360px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .x441684624749_-1-Zc1nIZ {
  background-color: transparent;
  height: 303px;
  left: 15px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 260px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .email-yuwcsfsuedu-of-Zc1nIZ {
  background-color: transparent;
  height: 141px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 372px;
  width: 263px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span0-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span1-S02kj4 {
  text-decoration: underline;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span2-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span3-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span4-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span5-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span6-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span7-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span8-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span9-S02kj4 {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divcol-sm-8-uPqObg {
  background-color: transparent;
  height: 2447px;
  left: 382px;
  position: absolute;
  top: 0px;
  width: 780px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .about-WGIHpS {
  height: 27px;
  left: 7px;
  line-height: 26.4px;
  text-align: left;
  top: 74px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .p-WGIHpS {
  height: 271px;
  left: 7px;
  top: 102px;
  width: 750px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .weikuan-will-yu-is-a-1mY6Df {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 257px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 13px;
  width: 744px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span0-KXn46R {
  color: var(--mine-shaft);
  font-style: normal;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span1-KXn46R {
  color: #0000ee;
  font-style: normal;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span2-KXn46R {
  color: var(--cobalt);
  font-style: normal;
  text-decoration: underline;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span3-KXn46R {
  color: #0000ee;
  font-style: normal;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span4-KXn46R {
  color: var(--mine-shaft);
  font-style: normal;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .research-interests-WGIHpS {
  background-color: transparent;
  height: 27px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 26.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 389px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .ul-WGIHpS {
  height: 140px;
  left: 0px;
  top: 448px;
  width: 750px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .database-systems-big-sxbxrO {
  background-color: transparent;
  height: 20px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .cloud-computing-para-sxbxrO {
  background-color: transparent;
  height: 20px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .security-and-privacy-sxbxrO {
  background-color: transparent;
  height: 20px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45px;
  white-space: nowrap;
  width: 633px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .parallel-io-file-and-storage-systems-sxbxrO {
  background-color: transparent;
  height: 20px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 68px;
  white-space: nowrap;
  width: 673px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .high-performance-com-sxbxrO {
  background-color: transparent;
  height: 20px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 91px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .news-WGIHpS {
  background-color: transparent;
  height: 27px;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: 26.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 610px;
  white-space: nowrap;
  width: 273px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .ul-5NLj1R {
  height: 520px;
  left: 15px;
  top: 669px;
  width: 750px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .li-Hc6IxY {
  background-color: transparent;
  height: 60px;
  left: 40px;
  position: relative;
  top: 460px;
  width: 710px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hr-gToVO8 {
  border-color: #9f9999;
  height: 1px;
  left: -49px;
  position: relative;
  top: 30px;
  width: 759px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .university-services-WGIHpS {
  background-color: transparent;
  height: 27px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 26.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: 428px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .member-cs-chair-sele-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1461px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .chair-cs-faculty-sea-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1395px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .member-fsu-research-WGIHpS {
  height: 20px;
  top: 1349px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .member-fsu-research-5NLj1R {
  height: 40px;
  top: 1306px;
  width: 774px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .trainee-fsu-emerging-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1283px;
  white-space: nowrap;
  width: 514px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .ul-HHVxcF {
  height: 691px;
  left: 15px;
  top: 1539px;
  width: 764px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .cluster-2012-2015-20-jER1z3 {
  background-color: transparent;
  height: 20px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 220px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .cc-grid-2013-2016-20-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1783px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .external-services-WGIHpS {
  background-color: transparent;
  height: 27px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 26.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1538px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .member-cs-graduate-a-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1484px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .supercomputing-sc-20-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1645px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .infocom-2018-2019-20-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1668px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hpdc-2022-2023-tpc-member-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1691px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .icdcs-2021-tpc-member-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1714px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .associate-chair-for-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1372px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .member-fsu-center-fo-WGIHpS {
  background-color: transparent;
  height: 40px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1418px;
  width: 774px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .editorial-excellence-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1599px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span0-eY4U8F {
  text-decoration: underline;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span1-eY4U8F {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span2-eY4U8F {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .panelist-nasa-2017-n-WGIHpS {
  background-color: transparent;
  height: 40px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1984px;
  width: 744px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .external-proposal-re-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2027px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .technical-reviewers-WGIHpS {
  background-color: transparent;
  height: 40px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2050px;
  width: 744px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .ieee-big-data-2013-2-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1806px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hpcc-2017-tpc-member-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1829px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .icpp-2007-2008-tpc-member-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1852px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .pc-vice-chair-nas-2015-network-track-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1875px;
  white-space: nowrap;
  width: 372px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span0-NSd4nA {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span1-NSd4nA {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span2-NSd4nA {
  text-decoration: underline;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span3-NSd4nA {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .pc-co-chair-discs-20-WGIHpS {
  background-color: transparent;
  height: 40px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1898px;
  width: 744px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span0-SCN82A {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span1-SCN82A {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span2-SCN82A {
  text-decoration: underline;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span3-SCN82A {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .co-chair-dagstuhl-wo-WGIHpS {
  background-color: transparent;
  height: 40px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1941px;
  width: 744px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span0-HtlVYF {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span1-HtlVYF {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span2-HtlVYF {
  text-decoration: underline;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .span3-HtlVYF {
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .associate-editor-for-tpds-2018-2022-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1622px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .ipdps-2020-2021-2022-tpc-member-WGIHpS {
  background-color: transparent;
  height: 20px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1737px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .footerfooter-CHlaSm {
  background-color: #782f40;
  height: 50px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2650px;
  width: 1920px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .copyright-2023-weiku-3oC93N {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 16px;
  left: 770px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 381px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .frame-2-CHlaSm {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  left: 0px;
  position: absolute;
  top: 0px;
  width: fit-content;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .divname-90Up1n {
  background-color: #782f40;
  height: 188px;
  min-width: 1920px;
  mix-blend-mode: normal;
  position: relative;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .about-3RT0vD {
  height: 29px;
  left: 530px;
  line-height: 28.6px;
  text-align: center;
  top: 117px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .publications-3RT0vD {
  background-color: transparent;
  height: 22px;
  left: 804px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 120px;
  white-space: nowrap;
  width: 108px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .teaching-3RT0vD {
  background-color: transparent;
  height: 22px;
  left: 957px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
  width: 80px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .service-3RT0vD {
  background-color: transparent;
  height: 22px;
  left: 1082px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 121px;
  white-space: nowrap;
  width: 67px;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .lab-wiki-fsu-internal-3RT0vD {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  left: 1190px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 118px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .research-team-3RT0vD {
  background-color: transparent;
  height: 29px;
  left: 626px;
  letter-spacing: 0.00px;
  line-height: 28.6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .title-3RT0vD {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: 75px;
  left: 806px;
  letter-spacing: 0.00px;
  line-height: 75px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .about {
  background-color: transparent;
  letter-spacing: 0.00px;
  mix-blend-mode: normal;
  position: absolute;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .hr {
  background-color: transparent;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  overflow: hidden;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .member-fsu-research {
  background-color: transparent;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .p {
  background-color: transparent;
  position: absolute;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 .ul {
  background-color: transparent;
  position: absolute;
}
