@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:700,400,700italic");

* {
  box-sizing: border-box;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4 {
  background-color: var(--white);
  border: 1px none;
  height: 2700px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.divrow-CHlaSm {
  background-color: transparent;
  height: 2620px;
  left: 320px;
  position: absolute;
  top: 80px;
  width: 1380px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-114-milton-c-uPqObg {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
  height: 20px;
  left: 316px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 292px;
  white-space: nowrap;
  width: auto;
}

.weikuanyu-github-io-by-html-to-design-free-version-20-05-2023-19-00-13-gmt-4
  .hr {
  background-color: transparent;
  border-bottom-style: none;
  border-color: var(--star-dust);
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  height: 30px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  width: 1380px;
}

.hr-uPqObg {
  top: 288px;
}

.computer-architectur-uPqObg {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-style: italic;
  font-weight: 700;
  height: 53px;
  left: 286px;
  letter-spacing: 0px;
  line-height: 75px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 220px;
  white-space: nowrap;
  width: 904px;
}

.resources-uPqObg {
  background-color: transparent;
  height: 67px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2119px;
  width: 327px;
}

.hr-AlBVet {
  top: 2172px;
}

.a-cluster-with-42-no-uPqObg {
  background-color: transparent;
  height: 146px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2201px;
  width: 1353px;
}

.image-1-uPqObg {
  background-color: transparent;
  height: 221px;
  left: 190px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1000px;
}

.july-2022-congratula-uPqObg {
  background-color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: 1332px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 592px;
  width: 1353px;
  font-family: 'Inter';
  font-size: 20px;
  align-items: center;
}

.call-for-papers-hp-cwire-lwn-usenix-uPqObg {
  background-color: transparent;
  height: 110px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 2414px;
  width: 1353px;
}


.hr-TyQHyT {
  top: 415px;
}

.hr-itCeXB {
  top: 564px;
}

.postdoctoral-researc-uPqObg {
  background-color: transparent;
  height: 110px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2009px;
  width: 1353px;
}

.span6-W0r3qt {
}

.span5-W0r3qt {
  text-decoration: underline;
}

.span4-W0r3qt {
}

.span2-W0r3qt {
}

.span1-W0r3qt {
  text-decoration: underline;
}

.span0-W0r3qt {
  text-decoration: underline;
}

.span3-W0r3qt {
  text-decoration: underline;
}

.hr-kYCNTy {
  top: 1995px;
}

.the-computer-archite-uPqObg {
  background-color: transparent;
  height: 108px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 414px;
  width: 1353px;
}

.span1-OM02Hd {
  text-decoration: underline;
}

.span2-OM02Hd {
}

.span0-OM02Hd {
}

.useful-links-uPqObg {
  background-color: transparent;
  height: 67px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2347px;
  width: 327px;
}

.title-uPqObg {
  background-color: transparent;
  height: 67px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 362px;
  width: 327px;
}

.hr-7LCK2z {
  top: 2400px;
}

.opportunities-uPqObg {
  background-color: transparent;
  height: 67px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1942px;
  width: 327px;
}

.news-uPqObg {
  background-color: transparent;
  height: 67px;
  left: 27px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 511px;
  width: 327px;
}

.footerfooter-CHlaSm {
  background-color: var(--solid-pink);
  height: 50px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2650px;
  width: 1920px;
}

.copyright-2023-weiku-3oC93N {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 16px;
  left: 770px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 381px;
}

.rectangle-1-CHlaSm {
  background-color: var(--solid-pink);
  height: 2650px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 320px;
}

.frame-1-CHlaSm {
  background-color: transparent;
  height: 1798px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 320px;
}

.flex-container-2woKi5 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 774px;
  left: 33px;
  position: relative;
  top: 44px;
  width: 255px;
}

.text5-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span5-kOzxMe {
}

.text1-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span1-ngzn4k {
}

.text4-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span4-Iai5xx {
}

.text0-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span0-a85Sxq {
}

.text8-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span8-bR87y3 {
}

.text12-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span12-Cx7yIh {
}

.text10-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span10-nS8lt1 {
}

.text2-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span2-vAxT4g {
}

.text6-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span6-0zLvLg {
}

.text9-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span9-j8TOTT {
}

.text3-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 255px;
}

.span3-w2hOoW {
}

.text11-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span11-2Xzk5d {
}

.text7-5BAQxx {
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.span7-Md56BY {
}


/* Variables */

:root {
  --black: rgba(0, 0, 0, 1);
  --blue: rgba(0, 0, 238, 1);
  --cobalt: rgba(6, 69, 173, 1);
  --mine-shaft: rgba(51, 51, 51, 1);
  --solid-pink: rgba(120, 47, 64, 1);
  --star-dust: rgba(159, 153, 153, 1);
  --mischka: rgba(201, 208, 219, 1);
  --quill-gray: rgba(210, 210, 210, 0.8);
  --roman: rgba(214, 95, 95, 1);
  --gallery: rgba(238, 238, 238, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxxs: 13px;
  --font-size-xxs: 15px;
  --font-size-xs: 16px;
  --font-size-s: 20px;
  --font-size-m: 23px;
  --font-size-l: 25px;
  --font-size-l: 28px;
  --font-size-s2: 17px;
  --font-size-m2: 18px;
  --font-size-l2: 30px;
  --font-size-xl2: 55px;

  --font-family-inter: "Inter";
  --font-family-inter-bold: "Inter-Bold";
  --font-family-inter-extrabold: "Inter-ExtraBold";
  --font-family-inter-extrabold_italic: "Inter-ExtraBold Italic";
  --font-family-inter-medium: "Inter-Medium";
  --font-family-inter-regular: "Inter-Regular";
  --font-family-inter-semibold: "Inter-SemiBold";
  --font-family-undefined-regular: "undefined-Regular";
}

/* Classes */

.inter-extra-bold-cobalt-30px {
  color: var(--cobalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 800;
  font-style: italic;
}
.inter-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.inter-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-m2);
  font-weight: 600;
  font-style: normal;
}
.inter-normal-cobalt-23px {
  color: var(--cobalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-blue-17px {
  color: var(--blue);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.inter-medium-mine-shaft-13px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-xxxs);
  font-weight: 500;
  font-style: normal;
}
.inter-bold-black-35px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 35px;
  font-weight: 700;
  font-style: normal;
}
.inter-regular-normal-cobalt-18px {
  color: var(--cobalt);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-white-18px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-roman-23px {
  color: var(--roman);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-mine-shaft-20px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-mine-shaft-13px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  font-style: normal;
}
.inter-extra-bold-cobalt-23px {
  color: var(--cobalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 800;
  font-style: normal;
}
.inter-bold-mine-shaft-13px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  font-style: normal;
}
.inter-medium-mine-shaft-13px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-weight: 500;
  font-style: normal;
}
.inter-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.inter-extrabolditalic-extra-bold-cobalt-30px {
  color: var(--cobalt);
  font-family: var(--font-family-inter-extrabold_italic);
  font-size: var(--font-size-l2);
  font-weight: 800;
  font-style: italic;
}
.inter-normal-roman-23px {
  color: var(--roman);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-mine-shaft-17px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.inter-extra-extra-bold-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter-extrabold);
  font-size: var(--font-size-m);
  font-weight: 800;
  font-style: normal;
}
.inter-regular-normal-mine-shaft-17px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-mine-shaft-18px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-cobalt-20px {
  color: var(--cobalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.inter-extra-bold-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 800;
  font-style: normal;
}
.inter-normal-cobalt-18px {
  color: var(--cobalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-white-23px {
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-extra-extra-bold-cobalt-23px {
  color: var(--cobalt);
  font-family: var(--font-family-inter-extrabold);
  font-size: var(--font-size-m);
  font-weight: 800;
  font-style: normal;
}
.inter-normal-white-23px-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-white-55px {
  color: var(--white);
  font-family: var(--font-family-inter-regular);
  font-size: 55px;
  font-weight: 400;
  font-style: normal;
}
.inter-normal-white-55px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 55px;
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-cobalt-23px {
  color: var(--cobalt);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-mine-shaft-30px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 700;
  font-style: normal;
}
.undefined-regular-normal-white-23px {
  font-family: var(--font-family-undefined-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-cobalt-30px {
  color: var(--cobalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.inter-regular-normal-white-18px {
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-mischka-28px {
  color: var(--mischka);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-mine-shaft-18px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-mine-shaft-30px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-l2);
  font-weight: 700;
  font-style: normal;
}
.inter-bold-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.inter-normal-white-20px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-blue-17px {
  color: var(--blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.inter-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 600;
  font-style: normal;
}
.inter-bold-black-23px {
  color: var(--black);
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.inter-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter-bold);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
