/* screen - index */

.index {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 4500px;
  width: 1920px;
}

.index .flex-row {
  align-items: flex-end;
  display: flex;
  min-width: 1727px;
}

.index .overlap-group6 {
  align-items: flex-start;
  background-color: var(--solid-pink);
  display: flex;
  height: 4450px;
  min-width: 320px;
  padding: 80px 0;
}

.index .frame-1 {
  align-items: flex-start;
  display: flex;
  height: 1798px;
  padding: 44px 32px;
  width: 320px;
}

.index .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 774px;
  margin-left: 1px;
  position: relative;
  width: 255px;
}

.index .text {
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 255px;
}

.index .text3 {
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  text-decoration: underline;
  width: 255px;
}

.index .divrow {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 4370px;
  width: 1407px;
}

.index .overlap-group2 {
  height: 273px;
  margin-right: 27px;
  position: relative;
  width: 1000px;
}

.index .image-1 {
  height: 221px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1000px;
}

.index .computer-architectur {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-style: italic;
  font-weight: 700;
  height: 53px;
  left: 96px;
  letter-spacing: 0;
  line-height: 75px;
  position: absolute;
  text-align: center;
  top: 220px;
  white-space: nowrap;
  width: 904px;
}

.index .overlap-group1 {
  align-items: flex-start;
  border-color: var(--star-dust);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-left: 1px;
  margin-top: 15px;
  min-width: 1380px;
  padding: 3px 244px;
}

.index .address {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.index .overlap-group3 {
  height: 772px;
  margin-left: 1px;
  margin-top: 44px;
  position: relative;
  width: 1380px;
}

.index .hr {
  top: 53px;
}

.index .faculty {
  height: 67px;
  left: 13px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 327px;
}

.index .phd-program-md-muh {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 623px;
  left: 13px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 149px;
  width: 1353px;
}

.index .span-1 {
  text-decoration: underline;
}

.index .hr-1 {
  top: 128px;
}

.index .dr-weikuan-will-y {
  height: 97px;
  left: 13px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 52px;
  width: 1353px;
}

.index .overlap-group {
  height: 138px;
  margin-left: 1px;
  margin-top: 18px;
  position: relative;
  width: 1380px;
}

.index .graduate-research-as {
  height: 71px;
  left: 13px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 67px;
  width: 1353px;
}

.index .hr-2 {
  top: 53px;
}

.index .opportunities {
  height: 67px;
  left: 13px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 327px;
}

.index .title {
  align-self: flex-start;
  height: 30px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 27px;
  margin-top: 32px;
  white-space: nowrap;
}

.index .overlap-group5 {
  height: 2362px;
  margin-left: 1px;
  margin-top: 5px;
  position: relative;
  width: 1380px;
}

.index .postdoctoral-researc {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 800;
  height: 2240px;
  left: 13px;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 27px;
  width: 1353px;
}

.index .hr-3 {
  top: 0;
}

.index .visiting-research-sc {
  align-self: flex-start;
  height: 30px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 54px;
  margin-top: 18px;
  white-space: nowrap;
}

.index .overlap-group4 {
  align-self: flex-end;
  height: 71px;
  margin-right: -14px;
  margin-top: 5px;
  position: relative;
  width: 1380px;
}

.index .prof-chunxiang-wu {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 57px;
  left: 13px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 14px;
  width: 1353px;
}

.index .hr-4 {
  top: 0;
}

.index .footerfooter {
  align-items: flex-start;
  background-color: var(--solid-pink);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 16.3px 769px;
}

.index .copyright-2023-wei {
  height: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 381px;
}

.index .hr-5 {
  border-color: var(--star-dust);
  border-top-style: solid;
  border-top-width: 1px;
  height: 30px;
  left: 0;
  position: absolute;
  width: 1380px;
}
